<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/static/contato.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="icon" src="/static/Imagens_atividade_1/logo.jpg" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Fvetores-premium%2Fmodelo-de-design-de-logotipo-de-vetor-de-xicara-de-cafe-logotipo-de-cafeteria-premium_80965755.htm&psig=AOvVaw3dcHptFzs7hDBpEfCs_YG7&ust=1725577561701000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiLppCzqogDFQAAAAAdAAAAABAE">
        <h1 class="cafenome">Cafeteria Grão da montanha</h1>
        <nav class="navbar">
            <a href="/templates/home.html">Home</a>
            <a href="/templates/sobre.html">Quem somos</a>
            <a class="noborda" href="/templates/contato.html">Contatos</a>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="sobre">Entre em contato</h1>
            <article>
                <p class="descriçao">Estamos aqui para atender você! Se você tiver perguntas, sugestões ou precisar de mais informações sobre o Grão da Montanha Café, não hesite em nos contatar. Queremos garantir que sua experiência conosco seja a melhor possível.</p>
            </article>
        </section>
        <hr>
        <section>
            <form class="form" action="">
                <label for="email">Seu E-mail</label>
                <input type="email" id="email" name="email">
                <label for="text">Assunto</label>
                <input type="text" id="Assunto" name="Assunto">
                <label for="text">Descrição</label>
                <input class="inputdesc" type="text" id="descriçao" name="descriçao">
            </form>
        </section>
    </main>
    <footer>
        <h1 class="copyrigth">Copyrigth © 2024 - All Rigths Reserved - Grão da montanha</h1>
    </footer>
</body>
</html>