<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <img class="icon" src="/static/Imagens_atividade_1/logo.jpg" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Fvetores-premium%2Fmodelo-de-design-de-logotipo-de-vetor-de-xicara-de-cafe-logotipo-de-cafeteria-premium_80965755.htm&psig=AOvVaw3dcHptFzs7hDBpEfCs_YG7&ust=1725577561701000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiLppCzqogDFQAAAAAdAAAAABAE">
            <h1 class="cafenome">Cafeteria Grão da montanha</h1>
            <nav class="navbar">
                <a href="/templates/home.html">Home</a>
                <a href="/templates/sobre.html">Quem somos</a>
                <a class="noborda" href="/templates/contato.html">Contatos</a>
            </nav>
        </header>
        <main>
            <section>          
                <img class="capa" src="/static/Imagens_atividade_1/Capa.jpg" alt="https://pixabay.com/pt/photos/barista-café-preparação-derramar-6197867/">
            </section>
            <section>
                <h1 class="sobre">Sobre a nossa Cafeteria</h1>
                <p class="descriçao">Inaugurado em 15 de março de 2015, o Grão da Montanha Café surgiu do sonho de proporcionar uma experiência única e acolhedora para os amantes de café. Localizado em uma charmosa esquina no coração da cidade, ao pé da Montanha Verde, nossa cafeteria é um refúgio tranquilo onde a qualidade do café se encontra com a simplicidade do aconchego.</p>
                <p class="descriçao">No Grão da Montanha, a qualidade é nossa prioridade. Utilizamos grãos selecionados das melhores plantações de café, com uma torra cuidadosa para garantir um sabor rico e encorpado em cada xícara. Oferecemos uma variedade de opções, desde cafés clássicos, como espresso e cappuccino, até especialidades sazonais preparadas pelos nossos baristas altamente qualificados.</p>
            </section>
        </main>
        <footer>
            <h1 class="copyrigth">Copyrigth © 2024 - All Rigths Reserved - Grão da montanha</h1>
        </footer>
    </body>
</html>