<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
        <link rel="stylesheet" href="/static/sobre.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <img class="icon" src="/static/Imagens_atividade_1/logo.jpg" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Fvetores-premium%2Fmodelo-de-design-de-logotipo-de-vetor-de-xicara-de-cafe-logotipo-de-cafeteria-premium_80965755.htm&psig=AOvVaw3dcHptFzs7hDBpEfCs_YG7&ust=1725577561701000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiLppCzqogDFQAAAAAdAAAAABAE">
            <h1 class="cafenome">Cafeteria Grão da montanha</h1>
            <nav class="navbar">
                <a href="/templates/home.html">Home</a>
                <a href="/templates/sobre.html">Quem somos</a>
                <a class="noborda" href="/templates/contato.html">Contatos</a>
            </nav>
        </header>
        <main>
            <section>
                <h1 class="sobre">Quem somos</h1>
                <article>
                    <p class="descriçao">Além de nossos cafés, nossa cafeteria é conhecida por seu ambiente acolhedor e seu cardápio diversificado. Servimos uma seleção de bolos, tortas e quitutes artesanais, todos preparados diariamente com ingredientes frescos. O espaço é decorado com um estilo rústico e elegante, com móveis de madeira e uma iluminação suave que cria a atmosfera perfeita para relaxar, trabalhar ou encontrar amigos.</p>
                    <p class="descriçao">A Grão da Montanha também é um ponto de encontro cultural. Realizamos eventos mensais como noites de música ao vivo, sessões de leitura de poesia e exposições de arte local. Esses eventos são uma oportunidade para a comunidade se conectar e desfrutar de uma experiência cultural enriquecedora.</p>
                </article>   
                <h1 class="sobre">Motivos para visitar</h1> 
                <article class="descriçao">
                    <div>
                        <p>Café de Alta Qualidade: Desfrute de uma seleção de cafés preparados com grãos selecionados das melhores plantações.</p><br>
                        <p>Ambiente Aconchegante: O espaço rústico e elegante, com móveis de madeira e iluminação suave, cria um ambiente perfeito para relaxar, trabalhar ou socializar. É o lugar ideal para uma pausa tranquila do dia a dia.</p><br>
                        <p>Ponto de Encontro Cultural: O Grão da Montanha promove eventos culturais mensais, como noites de música ao vivo, sessões de leitura de poesia e exposições de arte local.</p><br>
                        <p>Delícias Artesanais: Além do café, você pode desfrutar de uma seleção de bolos, tortas e quitutes artesanais, preparados diariamente com ingredientes frescos. </p><br>
                        <p>Experiência Personalizada: O serviço atencioso e a paixão dos baristas pelo café garantem uma experiência personalizada e acolhedora.</p>
                    </div>
                </article>
                <h1 class="sobre">Objetivos</h1>
                <article>
                    <p class="descriçao">O objetivo do Grão da Montanha Café é oferecer uma experiência única e acolhedora com café de alta qualidade e um ambiente agradável, enquanto promove a conexão comunitária através de eventos culturais e oferece produtos artesanais frescos.</p>
                </article>
            </section>
        </main>
        <footer>
            <h1 class="copyrigth">Copyrigth © 2024 - All Rigths Reserved - Grão da montanha</h1>
        </footer>
    </body>
</html>