body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #B96D40;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #FFCF9C;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 15vw;
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
}

p, h1 {
    font-family: "Montserrat", sans-serif;
}

.icon {
    display: flex;
    width: auto;
    height: 100%;
}

.cafenome {
    display: flex;
    width: 100%;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    font-family: "Playwrite CU", cursive;
}

.navbar {
    display: flex;
    width: 100%;
    height: 25vh;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
}

.navbar a {
    padding: 5px;
    color: black;
}

.navbar-brand {
    display: flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grãos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 2%;
}

.custom-dropdown-btn {
    background-color: #FFCF9C;
    font-family: "Montserrat", sans-serif;
}

.dropdown-item {
    color: #000;
    font-family: "Montserrat", sans-serif;
}


.sobre {
    padding-left: 50px;
}

.descriçao {
    display: flex;
    flex-direction: column;
    margin-inline: 50px;    
}

.motivos {
    display: flex;
}

.container-fluid-scrospy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 2%;
    background-color: #FFCF9C;
}

.nav-item > a {
    color: #000;
    font-size: larger;
}

.motivos2 {
    margin-inline: 5%;  
}

.motivos2 > p{
    display: flex;
    max-width: 50vw;
    text-align: center;
}

.imagem {
    display: flex;
    background-color: #FFCF9C;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%; 
}

.imagem > p {
    text-align: center;
    margin-inline: 2%;
}

.imagem > img {
    width: auto;
    height: 55vh;    
}

.copyrigth {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
}

.modal-content {
    background-color: #FFCF9C;    
}

.modal-title, .modal-body {
    font-family: "Montserrat", sans-serif;
}


@media (max-width: 600px) {
    .navbar {
        height: auto;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-fluid {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-top: 25vw;
        
    }

    .container-fluid-scrospy {
        display: flex;
        flex-direction: row;
    }

    .imagem > img {
        height: 51vh;
        width: auto;
    }

    .grãos {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-inline: 50%;
    }

    .imagem {
        display: flex;
        flex-direction: column;
    }
}